# Mac
.DS_Store

# Idea
.idea

# Temporary
.*.swp
.*.tmp

# Node
npm-debug.log
/node_modules

# Bower
/www/components
/www/js/bundle.js

# output
/output
/www/*.mp3
/www/*.mp4
/www/*.avi
/www/*.webm

